<div class="registry-container">
  <div class="header">
    Registries
  </div>
  <div class="registry-flexbox">
    <a href="https://www.crateandbarrel.com/gift-registry/gary-meyer-and-blythe-reinhard/r5787321" rel="nofollow" target="_blank">
      <button class="store-tile crate-and-barrel"></button>
    </a>

    <a href="https://www.amazon.com/wedding/gary-meyer-blythe-reinhard-raleigh-may-2018/registry/967PMFHAWS5W" rel="nofollow" target="_blank">
      <button class="store-tile amazon"></button>
    </a>

    <a href="https://www.bedbathandbeyond.com/store/giftregistry/view_registry_guest.jsp?pwsToken=&eventType=Wedding&inventoryCallEnabled=true&registryId=545414062&pwsurl=" rel="nofollow" target="_blank">
      <button class="store-tile bed-bath"></button>
    </a>
  </div>
</div>
