.map-wrapper {
  margin-top: 100px;
  position: relative;
  display: block;
  margin-bottom: -80px;
}

.map-container {
  position: relative;
  z-index: -1;
  height: 430px;
  top: -80px;
}

agm-map {
  height: 430px;
  z-index: -1;
}

.header {
  display: block;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  background: #ABCDD8;
  padding: 80px 0;
  margin: auto;
  bottom: 0;
  width: 80%;
  max-width: 960px;
  z-index: 10;
}
