.map-wrapper {
  margin-top: 100px;
}

.map-container {
  position: relative;
  height: 350px;
}

agm-map {
  height: 350px;
}

.header {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  background: #ABCDD8;
  padding: 40px 0;
}
