<div class="map-wrapper">
  <div class="header">Where is it happening???</div>
  <div class="map-container">
    <agm-map [latitude]="mapLat" [longitude]="mapLong" [zoom]="zoom" [styles]="styles">
      <agm-marker [latitude]="markerLat" [longitude]="markerLong">
        <agm-info-window><a target="_blank" href="https://www.google.com/maps/place/Haywood+Hall+%26+Gardens/@35.78072,-78.63798,17z/data=!3m1!4b1!4m5!3m4!1s0x89ac5f6ce7022e1b:0x482e13ebda152bdd!8m2!3d35.78072!4d-78.635786?hl=en-US">Haywood Hall 
        <br>211 New Bern Pl, Raleigh, NC 27601</a></agm-info-window>
      </agm-marker>
    </agm-map>
  </div>
</div>