.banner {
  background-image: url(/assets/banner-image.png);
  background-position: center; 
  height: 890px;
  padding-top: 525px;
}

.rsvp-container {
  width: 70%;
  height: 400px;
  top: 535px;
  margin: auto;
  background: white;
  padding-top: 100px;
  text-align: center;
  margin-bottom: 80px;
}

.rsvp-details {
  width: 50%;
  margin: auto;
  text-align: center;
}

.header {
  font-family: 'Saira Condensed', sans-serif;
  font-size: 32px;
  margin-bottom: 40px;
}

.sub-header {
  font-size: 24px;
  margin-bottom: 10px;
}

.location {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
  margin: auto;
  max-width: 300px;
}

.rsvp-button {
  width: 70%;
  background: #FFAAAA;
  border: 0;
  padding: 20px 0;
  margin-top: 60px; 
  font-weight: bold;
  font-size: 32px;
  border-radius: 8px;
  box-shadow: 10px 10px 5px rgb(170, 168, 168);
}

.info-bar {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  background: #ABCDD8;
  padding: 40px 0;
}

@media (max-width: 800px) {
  .rsvp-container {
    width: 100%;
  }
}