.banner {
  background-image: url(/assets/banner-image.png);
  background-position: center; 
  height: 800px;
  position: relative;
}

.rsvp-container {
  width: 70%;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  margin: auto;
  background: white;
  padding: 50px 0;
  text-align: center;
}

.rsvp-details {
  width: 50%;
  margin: auto;
  text-align: center;
}

.header {
  font-family: 'Saira Condensed', sans-serif;
  font-size: 32px;
  margin-bottom: 50px;
}

.sub-header {
  font-size: 26px;
  margin-bottom: 10px;
}

.location {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
  margin: auto;
  max-width: 300px;
}

.rsvp-button {
  width: 70%;
  background: #FFAAAA;
  border: 0;
  padding: 20px 0;
  margin-top: 50px; 
  font-weight: bold;
  font-size: 32px;
  border-radius: 8px;
  box-shadow: 10px 10px 5px rgb(170, 168, 168);
}

@media (max-width: 800px) {
  .rsvp-container {
    width: 100%;
  }
}