<div class="bg">
  <div class="card">
    <ng-select [allowClear]="true"
        [items]="formattedGuests"
        (data)="refreshValue($event)"
        (selected)="selected($event)"
        (removed)="removed($event)"
        placeholder="Search yourself...">
    </ng-select>

    <div *ngIf="guest">
      <div *ngIf="!guest.confirmed">
        <div class="header">We have reserved {{guest.number_of_seats_allowed}} {{guest.number_of_seats_allowed > 1 ? 'seats' : 'seat'}} for you</div>
        <div *ngIf="guest.number_of_seats_allowed > 1" class="sub-header">How many people will attend?</div>
      </div>
      <div class="radio-buttons" *ngIf="guest.number_of_seats_allowed > 1 && !guest.confirmed">
        <span class="radio-button" *ngFor="let number of numberOfSeatsAllowedArray; let i = index">
          <input
            type="radio"
            [value]="i + 1"
            [id]="i"
            name="confirmedNumber"
            [(ngModel)]="guest.number_of_seats_confirmed"
            required
            (click)="numberSelected()"
            >
            <label [for]="i">{{i + 1}}</label>
        </span>
      </div>
      <button class="blue-button" *ngIf="!guest.confirmed" (click)="rsvp()">RSVP</button>
      <div class="error-text" *ngIf="!isNumberOfSeatsSelected && submitted && guest.number_of_seats_allowed > 1">Please select a number of guests</div>
      <div class="header" *ngIf="guest.confirmed">You have RSVP'd for {{guest.number_of_seats_confirmed}} {{guest.number_of_seats_confirmed > 1 ? 'seats' : 'seat'}}</div>
    </div>


    <div class="processing" *ngIf="isProcessing">Processing...</div>
  </div>
</div>