.accomodations-container {
  text-align: center;
  padding-top: 80px;
}

.header {
  display: block;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  background: #ABCDD8;
  padding: 80px 0;
  margin: auto;
  bottom: 0;
  width: 80%;
  max-width: 960px;
  z-index: 10;
}

.hotels-container {
  /*display: flex;
  justify-content: space-between;*/
  text-align: left;
  background-color: #f7f7f7;
  position: relative;
  z-index: -1;
  top: -80px;
  padding-bottom: 80px;
}

.dual-column-container {
  display: flex;
  /*justify-content: space-between;*/
  /*padding: 0 80px 100px 80px;*/
  width: 80%;
  max-width: 960px;
  /*text-align: left;*/
  padding-top: 160px;
  margin: auto;
}

.hotel-container {
  width: 50%;
}

.hotel {
  height: 375px;
}

.hotel-details {
  padding-left: 40px;
}

.hampton {
  background-image: url(/assets/hampton-inn.png);
  background-size: cover;
  position: relative;
  padding-left: 40px;
}

.hampton-overlay {
  position: absolute;
  bottom: 0;
}

.hampton-header {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 0;
  color: #FFAAAA;
}

.other {
  text-align: right;
  /*padding-right: 80px;*/
}

.other-header {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
}

.hampton-sub-header {
  font-size: 26px;
  color: white;
}

.description {
  width: 80%;
  padding-top: 10px;
  text-align: left;
}

.hotel-links {
  float: right;
}

.hotel-link {
  background: #ABCDD8;
  width: 400px;
  text-align: left;
  padding: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hotel-link:hover {
  cursor: pointer;
}

i {
  border: solid #213E5E;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

@media (max-width: 1100px) {
  .hotel-link {
    width: 300px;
  }
}

@media (max-width: 1000px) {
  .hotels-container {
    padding: 0 20px 100px 20px;
  }
}

@media (max-width: 800px) {
  .hotels-container {
    display: block;
    padding: 0 20px 100px 10px;
  }
  .hotel-container {
    width: 300px;
    margin: auto;
    margin-bottom: 20px;
  }
  .hotel {
    padding-left: 20px;
  }
  .hotel-details {
    padding-left: 20px;
  }
  .description {
    width: 90%;
  }
  .other {
    padding-right: 0;
    text-align: left;
  }
  .hotel-links {
    float: left;
  }
  .hotel-link {
    width: 275px;
  }
}
