<div class="accomodations-container">
  <p class="header">Accomodations</p>
  <div class="hotels-container">
    <div class="dual-column-container">
      <div class="hotel-container">
        <div class="hotel hampton">
          <div class="hampton-overlay">
            <p class="hampton-header">Hampton Inn</p>
            <p class="hampton-header">& Suites</p>
            <p class="hampton-sub-header">$189/night</p>
          </div>
        </div>
        <div class="hotel-details">
          <p class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
          <a href="http://hamptoninn.hilton.com/en/hp/groups/personalized/R/RDUDWHX-RIH-20180511/index.jhtml" rel="nofollow" target="_blank">
            <button class="blue-button">Book a Room</button>
          </a>
        </div>
      </div>

      <div class="hotel-container other">
        <div class="hotel">
          <div class="other-header">Other Nearby Hotels</div>
          <div class="hotel-links">
            <div class="hotel-link">
              <span>Holiday Inn</span>
              <i class="arrow right"></i>
            </div>
            <div class="hotel-link">
              <span>Sheraton</span>
              <i class="arrow right"></i>
            </div>
            <div class="hotel-link">
              <span>Marriot</span>
              <i class="arrow right"></i>
            </div>
            <div class="hotel-link">
              <span>Marriot Residence Inn</span>
              <i class="arrow right"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
