<div class="accomodations-container">
  <p class="header">Accomodations</p>
  <div class="hotels-container">
    <div class="dual-column-container">
      <div class="hotel-container">
        <div class="hotel hampton">
          <div class="hampton-overlay">
            <p class="hampton-header">Hampton Inn</p>
            <p class="hampton-header">& Suites</p>
            <p class="hampton-sub-header">$189/night</p>
          </div>
        </div>
        <div class="hotel-details">
          <p class="description"><b>Book a room here to take advantage of our block rates!</b></p>
          <p class="description">
          This modern hotel is less than one mile from Haywood Hall, and less than 100 steps from a center of Raleigh's nightlife. <br /></p>
          <a href="http://hamptoninn.hilton.com/en/hp/groups/personalized/R/RDUDWHX-RIH-20180511/index.jhtml" rel="nofollow" target="_blank">
            <button class="blue-button">Book a Room</button>
          </a>
        </div>
      </div>

      <div class="hotel-container hotel-links">
        <div class="other-header">Other Nearby Hotels</div>
        <!-- <div class="hotel-links"> -->
          <a href="https://travel.venuereport.com/EventPage4106060" rel="nofollow" target="_blank" >
            <button class="hotel-link">
              <span style="font-weight: bold;">Other Special Rates</span>
              <i class="arrow right"></i>
            </button>
          </a>
          <a href="https://www.holidayinn.com/hotels/us/en/find-hotels/hotel/rates?qDest=320%20Hillsborough%20Street%20Raleigh%20North%20Carolina%20United%20States&qCiMy=12018&qCiD=4&qCoMy=12018&qCoD=5&qAdlt=2&qChld=0&qRms=1&qRtP=6CBARC&qIta=99618783&qSlH=RDUSC&qSlRc=KNGN&qAkamaiCC=US&qSrt=sBR&qBrs=ic.ki.ul.in.cp.vn.hi.ex.cv.rs.cw.sb.ma&qWch=0&qSmP=1" rel="nofollow" target="_blank" >
            <button class="hotel-link">
              <span>Holiday Inn</span>
              <i class="arrow right"></i>
            </button>
          </a>
          <a href="http://www.sheratonraleigh.com/?SWAQ=958P" rel="nofollow" target="_blank" >
            <button class="hotel-link">
              <span>Sheraton</span>
              <i class="arrow right"></i>
            </button>
          </a>
          <a href="http://www.marriott.com/hotels/travel/rdumc-raleigh-marriott-city-center/?scid=bb1a189a-fec3-4d19-a255-54ba596febe2" rel="nofollow" target="_blank" >
            <button class="hotel-link">
              <span>Marriot</span>
              <i class="arrow right"></i>
            </button>
          </a>
          <a href="http://www.marriott.com/hotels/travel/rdurx-residence-inn-raleigh-downtown/?scid=bb1a189a-fec3-4d19-a255-54ba596febe2" rel="nofollow" target="_blank" >
            <button class="hotel-link">
              <span>Marriot Residence Inn</span>
              <i class="arrow right"></i>
            </button>
          </a>
        <!-- </div> -->
      </div>
    </div>
  </div>
</div>
